.product {
    display: inline-block;
    width: 250px;
    height:470px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.product button {
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.product button:hover {
    background-color: greenyellow;
}